.Titlu {
    border: 5px;
    background-color: lightblue;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}

.TabelFor {
    background-color: lightblue;
    margin-left:500px;
    margin-right:500px;
}